.wrapper {
    margin-top: 8px;
    padding: 16px 0;
    position: relative;
    padding-left: 4px;
    &::before{
        display: block;
        content: "";
        height: 1px;
        background: rgba(22, 24, 35, .12);
        position: absolute;
        right: 12px;
        left: 12px;
        top: 0;
    }
}
.label{
    padding: 0 8px;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 1.4rem;
    color: rgba(22, 24, 35, .75);
}
.account-item {
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}
.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 12px;
    object-fit: cover;
}
.item-info {
    flex: 1;
}
.nickname {
    font-size: 1.6rem;
    color: rgb(22, 24, 35);
    font-weight: 700;
    line-height: 1.2;
}
.check {
    font-size: 1.4rem;
    color: #20d5ec;
    margin-left: 6px;
}
.name {
    font-size: 1.2rem;
    color: rgba(22, 24, 35, 0.75);
    font-weight: 400;
}
.more-btn{
    border: none;
    padding: 0px 8px;
    margin-top: 8px;
    cursor: pointer;
    display: block;
    color: rgb(254, 44, 85);
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
}